:root {
  --bg-color: rgba(0,0,0,.8);
  --clock-color: #fff; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  height: 100vh;
  background-color: rgba(0,0,0,.8);
  background-color: var(--bg-color); }

.clock > * {
  font-size: 8rem;
  color: #fff;
  color: var(--clock-color); }
  @media (min-width: 768px) {
    .clock > * {
      font-size: 10rem; } }

