:root {
  --bg-color: rgba(0,0,0,.8);
  --digital-clock-color: #fff;
  --analog-clock-color: blue;
  --seconds-hand-color: black;
  --minutes-hand-color: #ccc;
  --hours-hand-color: #ccc; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

.clock {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  height: 100vh;
  background-color: rgba(0,0,0,.8);
  background-color: var(--bg-color); }

.digital > * {
  font-size: 8rem;
  color: #fff;
  color: var(--digital-clock-color); }
  @media (min-width: 768px) {
    .digital > * {
      font-size: 9rem; } }

.analog {
  position: relative;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border: 5px solid #ccc;
  background-color: blue;
  background-color: var(--analog-clock-color); }
  @media (min-width: 768px) {
    .analog {
      width: 40rem;
      height: 40rem; } }
  .analog__hand {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8rem;
    -webkit-transform: rotate(-90deg) translate(-50%, -50%);
            transform: rotate(-90deg) translate(-50%, -50%);
    -webkit-transform-origin: left center;
            transform-origin: left center; }
    @media (min-width: 768px) {
      .analog__hand {
        width: 18rem; } }
    .analog__hand--seconds {
      height: 2px;
      background-color: black;
      background-color: var(--seconds-hand-color); }
    .analog__hand--minutes {
      height: 3px;
      background-color: #ccc;
      background-color: var(--minutes-hand-color); }
    .analog__hand--hours {
      width: 6rem;
      height: 4px;
      background-color: #ccc;
      background-color: var(--hours-hand-color); }
      @media (min-width: 768px) {
        .analog__hand--hours {
          width: 14rem; } }

